*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main{
    margin-top: 120px;
    overflow-x: hidden;
}
.main-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    max-width: 1400px;
    margin: 80px auto;
}

.title {
    text-align: center;
    margin-bottom: 40px;
}
.title-name{
    font-size: 4rem;
    text-transform: capitalize;
}
.title-underline{
    width: 7rem;
    height: 0.25rem;
    margin: 0 auto;
    margin-top: 1rem;
    background-color: rgb(10, 10, 109);
}
.product{
    width: 450px;
height: 400px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}
.image{
    width: 450px;
    height: 300px;
border-radius: 10px;
}
.details{
    text-align: center;
    padding-top: 10px;
}
.name{
    font-size: 26px;
    text-transform: capitalize;
    color: rgb(6, 99, 99);
    padding-bottom: 15px;
}
.price{
    font-size: 22px;
    font-weight: 700;
}
/* single product */
.single-product{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1px;
}
.product-image{
    width: 480px;
    height: 500px; 
}
.product-name{
    font-size: 30px;
    text-transform: capitalize;
    color: rgb(6, 99, 99);
    padding-bottom: 15px;
}
.product-company{
    font-size: 22px;
    font-weight: 700;
    text-transform: capitalize;
    color: rgb(120, 128, 128);
} 
.product-price{
    font-size: 22px;
    font-weight: 700;
}
.product-colors{
    font-size: 18px;
}
.product-desc{
    font-size: 15px;
    line-height: 4px;
}
@media screen and (max-width: 1024px){
    .main-container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1px;
        max-width: 1000px;
        margin: 0px auto;
    }
    .product{
        width: 480px;
    height: 500px;
    }
    .image{
        width: 400px;
        height: 380px;
    border-radius: 10px;
    }
}
@media screen and (max-width: 786px){
    .main-container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1px;
        max-width: 500px;
    }
    .product{
        width: 400px;
    height: 450px;    
    }
    .image{
        width: 350px;
        height: 350px;
    border-radius: 10px;
    }
}
@media screen and (max-width: 480px){
    main{
        margin-top: 80px;
    }
    .main-container{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 10px;
        max-width: 300px;
        flex-wrap: wrap;
        margin: 0px auto;
    }
    .product{
        width: 400px;
    height: 300px;
    }
    .image{
        width: 300px;
        height: 200px;
    border-radius: 10px;
    }
}
